.container__edit-encounter {
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 13rem 6rem;
    display: flex;
    width: 80%;
    margin: .5rem 0;
    background-color: black;
    border-radius: .5rem;
    text-decoration: none;
    text-align: left;
    overflow: hidden;

    .card__edit-encounter {
        display: flex;

        width: 100%;
        background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, .2), rgba(0, 0, 0, .2));
        background-size: 13rem 6rem;
        border-radius: .5rem;
        box-shadow: 0px 0px 5px -2px hsla(0, 0%, 0%, 0.8),
            0px 0px 10px -2px hsla(0, 0%, 0%, 0.8);
        overflow: hidden;


        /* Add linear gradient */
        .background-gradient-edit {
            display: flex;
            padding: 1rem;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            background: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, .2), rgba(0, 0, 0, .2));
            background-position: left top;
            background-size: 13rem 6rem;

            .header {
                display: flex;

                .type {
                    margin-left: .5rem;
                    margin-bottom: .5rem;
                    width: 100%;
                    font-family: 'black-chancery';
                    color: rgb(243, 241, 237);
                    font-size: 2.5rem;
                    font-weight: 500;
                }

                .button {
                    font-family: "Vollkorn", serif;
                    font-size: 1.4rem;
                    background: linear-gradient(to right, rgba(41, 41, 41, 0.7), rgba(32, 32, 32, 0.8), rgba(37, 37, 37, 0.7));
                    text-align: center;
                    background-color: rgb(58, 58, 58);
                    margin-right: .25rem;
                    margin-bottom: .5rem;
                    padding: .6rem 1rem;
                    border-radius: .3rem;
                    border-style: none;
                    color: rgb(243, 241, 237);
                    text-decoration: none;
                    white-space: nowrap;
                    box-shadow: 0px 0px 10px -2px hsla(0, 0%, 0%, 0.8),
                        0px 0px 15px -2px hsla(0, 0%, 0%, 0.8);
                    transition: transform 0.3s ease;
                    /* Adding transition for smoother effect */
                }

                .button:hover {
                    transform: scale(1.03);
                    /* Slightly larger size on hover */
                }
            }

            .form__edit-encounter {
                display: flex;
                flex-direction: column;
                height: 55vh;
                flex-basis: 100%;
                padding-top: 0;
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0),rgba(0, 0, 0, .4), rgba(0, 0, 0, .4), rgba(0, 0, 0, .4), rgba(0, 0, 0, .4), rgba(0, 0, 0, 0));
                z-index: 1;
        
                fieldset {
                    display: flex;
                    width: 100%;
                    margin: 0;
                }
        
                select {
                    font-family: "Vollkorn", serif;
                    font-size: 1rem;
                    color: rgb(243, 241, 237);
                    width: 30%;

                    padding: .5rem;
                    border-style: none;
                    border-radius: 1.5rem;
                    background-color: rgb(45, 45, 45);
                    box-shadow: 0px 0px 5px -2px hsla(0, 0%, 0%, 0.3),
                    0px 0px 5px -2px hsla(0, 0%, 0%, 0.3);
                }
        
                .textarea {
                    font-family: "Vollkorn", serif;
                    font-size: 1rem;
                    color: rgb(243, 241, 237);
                    width: 100%;
                    padding: .5rem;
                    margin-right: 1.5rem;
                    border-style: none;
                    border-radius: .5rem;
                    background: linear-gradient(to bottom, rgb(35, 35, 35), rgb(45, 45, 45),rgb(40, 40, 40));
                    box-shadow: 0px 0px 5px -2px hsla(0, 0%, 0%, 0.3),
                    0px 0px 5px -2px hsla(0, 0%, 0%, 0.3);
                    resize: none;
                }
        
                .button__create-campaign {
                    font-family: "Vollkorn", serif;
                    font-size: 1.4rem;
                    background-image: url('/src/images/360_F_571117331_DVNWLMbxxB8sql1IhuHV3hHqxqKKv2Xx.jpg');
                    background-position: center;
                    background-repeat: no-repeat;
                    max-width: 506px;
                    text-align: center;
                    background-color: rgb(58, 58, 58);
                    margin: 0 1rem;
                    margin-top: 1.5rem;
                    padding: .6rem 1rem;
                    border-radius: .3rem;
                    border-style: none;
                    color:rgb(243, 241, 237);
                    text-decoration: none;
                    white-space: nowrap;
                    box-shadow: 0px 0px 5px -2px hsla(0, 0%, 0%, 0.3),
                    0px 0px 5px -2px hsla(0, 0%, 0%, 0.3);
                    transition: transform 0.3s ease; 
                }
                
                .button__create-campaign:hover {
                    transform: scale(1.03); 
                }
        }
    }
}
}




/* .container__edit-encounter {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    width: 100%;
    background-image: url('../../../images/360_F_478490472_zDi7fiDEhoShE6xcYw08gIcfLw7fZefo.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;



    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 40vh; 
        background: linear-gradient(to bottom, rgba(0, 0, 0, 1),rgba(0, 0, 0, .3), rgba(0, 0, 0, 0));
    }

    animation: fadeIn 0.7s ease-in-out forwards;

    h2 {
        text-align: center;
        margin: 1rem 15%;
        margin-bottom: 0;
        padding-bottom: 1rem;
        border-bottom: 1px solid rgb(243, 241, 237);
        font-family: 'black-chancery';
        color: rgb(243, 241, 237);
        font-size: 2rem;
        font-weight: 500;
        z-index: 1;
    }

    .form__edit-encounter {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 55vh;
        flex-basis: 100%;
        padding: 1rem;
        padding-top: 0;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0),rgba(0, 0, 0, .4), rgba(0, 0, 0, .4), rgba(0, 0, 0, .4), rgba(0, 0, 0, .4), rgba(0, 0, 0, 0));
        z-index: 1;

        fieldset {
            width: 100%;
            margin: 0;
        }

        select {
            font-family: "Vollkorn", serif;
            font-size: 1rem;
            color: rgb(243, 241, 237);
            width: 30%;
            max-width: 600px;
            margin-top: 1.5rem;
            margin-bottom: .5rem;
            padding: .5rem;
            border-style: none;
            border-radius: 1.5rem;
            background-color: rgb(45, 45, 45);
            box-shadow: 0px 0px 5px -2px hsla(0, 0%, 0%, 0.3),
            0px 0px 5px -2px hsla(0, 0%, 0%, 0.3);
        }

        .input {
            font-family: "Vollkorn", serif;
            font-size: 1rem;
            color: rgb(243, 241, 237);
            width: 55%;
            max-width: 600px;
            padding: .5rem;
            border-style: none;
            border-radius: .5rem;
            background: linear-gradient(to bottom, rgb(35, 35, 35), rgb(45, 45, 45),rgb(40, 40, 40));
            box-shadow: 0px 0px 5px -2px hsla(0, 0%, 0%, 0.3),
            0px 0px 5px -2px hsla(0, 0%, 0%, 0.3);
        }

        .button__create-campaign {
            font-family: "Vollkorn", serif;
            font-size: 1.4rem;
            background-image: url('/src/images/360_F_571117331_DVNWLMbxxB8sql1IhuHV3hHqxqKKv2Xx.jpg');
            background-position: center;
            background-repeat: no-repeat;
            max-width: 506px;
            text-align: center;
            background-color: rgb(58, 58, 58);
            margin: 0 1rem;
            margin-top: 1.5rem;
            padding: .6rem 1rem;
            border-radius: .3rem;
            border-style: none;
            color:rgb(243, 241, 237);
            text-decoration: none;
            white-space: nowrap;
            box-shadow: 0px 0px 5px -2px hsla(0, 0%, 0%, 0.3),
            0px 0px 5px -2px hsla(0, 0%, 0%, 0.3);
            transition: transform 0.3s ease; 
        }
        
        .button__create-campaign:hover {
            transform: scale(1.03); 
        }

    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
} */