.container__campaign {
    position: relative;
    /* Ensure positioning context for pseudo-element */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    /* Ensure the pseudo-element doesn't overflow */

    /* Create the gradient overlay */
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw; /* Cover the width of the viewport */
        height: 40vh; /* Cover 60% of the viewport */
        background: linear-gradient(to bottom, rgba(0, 0, 0, 1),rgba(0, 0, 0, .3), rgba(0, 0, 0, 0));
    }

    animation: fadeIn 0.7s ease-in-out forwards;

    h2 {
        text-align: center;
        width: 75%;
        margin: 1rem 15%;
        margin-bottom: 1rem;
        padding-bottom: 1.5rem;
        border-bottom: 1px solid rgb(243, 241, 237);
        font-family: 'black-chancery';
        color: rgb(243, 241, 237);
        font-size: 2rem;
        font-weight: 500;
        z-index: 1;
    }

    .card__campaign {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        text-align: center;
        width: 80%;
        padding: 1rem 0;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0),rgba(0, 0, 0, .5), rgba(0, 0, 0, .5), rgba(0, 0, 0, .5), rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
        z-index: 1;

        .button {
            font-family: "Vollkorn", serif;
            font-size: 1.4rem;
            background-image: url('/src/images/360_F_571117331_DVNWLMbxxB8sql1IhuHV3hHqxqKKv2Xx.jpg');
            background-position: center;
            background-repeat: no-repeat;
            max-width: 506px;
            text-align: center;
            background-color: rgb(58, 58, 58);
            margin: 0 1rem;
            margin-top: 1.5rem;
            margin-bottom: 5rem;
            padding: .6rem 1rem;
            border-radius: .3rem;
            border-style: none;
            color:rgb(243, 241, 237);
            text-decoration: none;
            white-space: nowrap;
            box-shadow: 0px 0px 5px -2px hsla(0, 0%, 0%, 0.3),
            0px 0px 5px -2px hsla(0, 0%, 0%, 0.3);
            transition: transform 0.3s ease; /* Adding transition for smoother effect */
        }
        
        .button:hover {
            transform: scale(1.03); /* Slightly larger size on hover */
        }

    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
