.container__encounter-listing {
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 13rem 6rem;
    display: flex;
    width: 80%;
    margin: .5rem 0;
    background-color: black;
    border-radius: .5rem;
    text-decoration: none;
    text-align: left;
    overflow: hidden;

    .card__encounter-listing {
        display: flex;

        width: 100%;
        background: linear-gradient(to top, rgba(0,0,0,1),rgba(0,0,0,.2),rgba(0,0,0,.2));
        background-size: 13rem 6rem;
        border-radius: .5rem;
        box-shadow: 0px 0px 5px -2px hsla(0, 0%, 0%, 0.8),
        0px 0px 10px -2px hsla(0, 0%, 0%, 0.8);
        overflow: hidden;

        /* Add linear gradient */
        .background-gradient {
            display: flex;
            padding: 1rem;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;
            background: linear-gradient(to left, rgba(0,0,0,1),rgba(0,0,0,.2),rgba(0,0,0,.2));
            background-position: left top;
            background-size: 13rem 6rem;
            
            .container__text {
                background: linear-gradient(to right, rgba(41, 41, 41, 0.7),rgba(32, 32, 32, 0.8), rgba(37, 37, 37, 0.7));
                margin: .25rem;
                border-radius: .5rem;
            }

            .header{
                display: flex;
                
                .type {
                    margin-left: .5rem; 
                    margin-bottom: .5rem;
                    width: 100%;
                    font-family: 'black-chancery';
                    color: rgb(243, 241, 237);
                    font-size: 2.5rem;
                    font-weight: 500;
                }

                .button {
                    font-family: "Vollkorn", serif;
                    font-size: 1.4rem;
                    background: linear-gradient(to right, rgba(41, 41, 41, 0.7),rgba(32, 32, 32, 0.8), rgba(37, 37, 37, 0.7));
                    text-align: center;
                    background-color: rgb(58, 58, 58);
                    margin-right: .25rem;
                    margin-bottom: .5rem;
                    padding: .6rem 1rem;
                    border-radius: .3rem;
                    border-style: none;
                    color:rgb(243, 241, 237);
                    text-decoration: none;
                    white-space: nowrap;
                    box-shadow: 0px 0px 10px -2px hsla(0, 0%, 0%, 0.8),
                    0px 0px 15px -2px hsla(0, 0%, 0%, 0.8);
                    transition: transform 0.3s ease; /* Adding transition for smoother effect */
                }
                
                .button:hover {
                    transform: scale(1.03); /* Slightly larger size on hover */
                }
            }

            .encounter-info {
                margin-top: .25rem;
                margin-bottom: .5rem;
                margin-left: 1.5rem;
                font-size: 1rem;
                line-height: 1.4;
                color: rgb(243, 241, 237);
                position: relative;
                font-family: "Vollkorn", serif;
            }


            .title {
                margin-left: 1.5rem;
                margin-top: .5rem;
                font-size: 1.1rem;
                font-weight: 700;
                font-family: "Vollkorn", serif;
            }
        }


        /* Add hover effect */

        
    }
}
