@import url('https://fonts.googleapis.com/css2?family=Jacquard+24&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');


html {
  display: flex;
  color-scheme: dark;
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  margin: 0;
  height: 100%;
  width: 100%
}

#root {
  display: flex;
  height: 100%;
  width: 100%
}

.container__root {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: rgb(30, 30, 30);
}

.container__header {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgb(0, 0, 0);
}

.container__main {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-grow:1;
  background-color: rgb(0, 0, 0);
}

fieldset {
  border-style:none;
}
