/* mix-blend-mode: multiply; */

.container__welcome {
    position: relative;
    /* Ensure positioning context for pseudo-element */
    display: flex;
    width: 100%;
    background-image: url('../../../images/whatisdnd_tabletopwanderers_03.webp');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    /* Ensure the pseudo-element doesn't overflow */

    /* Create the gradient overlay */
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        /* Cover the width of the viewport */
        height: 60vh;
        /* Cover 60% of the viewport */
        background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, .3), rgba(0, 0, 0, 0));
        pointer-events: none;
        /* Allow interaction with underlying elements */
    }

    animation: fadeIn 0.7s ease-in-out forwards;

    .container__left {
        display: flex;
        justify-content: center;
        flex-basis: 50%;
        height: 57vh;
        margin-right: .6rem;
        padding: 1rem;
        padding-right: 0;
        position: relative;
        /* Ensure stacking context for z-index */
        z-index: 1;
        /* Ensure the text is above the gradient overlay */

        .container__welcome-message {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .5), rgba(0, 0, 0, .5), rgba(0, 0, 0, .5), rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));


            h2 {
                width: 80%;
                text-align: center;
                margin: 1rem 10%;
                padding-bottom: 1rem;
                border-bottom: 1px solid rgb(243, 241, 237);
                font-family: 'black-chancery';
                color: rgb(243, 241, 237);
                font-size: 2rem;
                font-weight: 500;
            }

            p {
                width: 75%;
                text-align: center;
                font-size: 1.2rem;
                margin-bottom: 0;
                font-family: "Vollkorn", serif;
                line-height: 1.5;
                color: rgb(243, 241, 237)
            }

            .button__new-campaign {
                font-family: "Vollkorn", serif;
                font-size: 1.4rem;
                background-image: url('/src/images/360_F_571117331_DVNWLMbxxB8sql1IhuHV3hHqxqKKv2Xx.jpg');
                background-position: center;
                background-repeat: no-repeat;
                max-width: 506px;
                text-align: center;
                background-color: rgb(58, 58, 58);
                margin: 0 1rem;
                margin-top: 3rem;
                margin-bottom: 5rem;
                padding: .6rem 1rem;
                border-radius: .3rem;
                border-style: none;
                color: rgb(243, 241, 237);
                text-decoration: none;
                white-space: nowrap;
                box-shadow: 2px 4px 10px hsla(0, 0%, 0%, 0.3),
                    2px 4px 20px hsla(0, 0%, 0%, 0.2);
                transition: transform 0.3s ease;
                /* Adding transition for smoother effect */
            }

            .button__new-campaign:hover {
                transform: scale(1.03);
                /* Slightly larger size on hover */
            }
        }
    }

    .container__right {
        display: flex;
        flex-basis: 50%;
        margin-left: .6rem;
        padding: 1rem;
        padding-left: 0;
        position: relative;
        /* Ensure stacking context for z-index */
        z-index: 1;
        /* Ensure the text is above the gradient overlay */

        .container__list-button {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            justify-content: flex-start;
            box-shadow: 0px 0px 5px -2px hsla(0, 0%, 0%, 0.3),
                0px 0px 5px -2px hsla(0, 0%, 0%, 0.3);
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .5), rgba(0, 0, 0, .5), rgba(0, 0, 0, .5), rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));

            .container__active-completed {
                display: flex;
                flex-direction: column;
                width: 100%;

                h2 {
                    text-align: center;
                    margin: 1rem 10%;
                    padding-bottom: 1rem;
                    border-bottom: 1px solid rgb(255, 250, 239);
                    font-family: 'black-chancery';
                    color: rgb(243, 241, 237);
                    font-size: 2rem;
                    font-weight: 500;
                }

                .container__campaign-list {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}